/* data-categories */

.data-categories {
    width: 99%;
    margin: 1% auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.data-category {
    margin: 0.1% auto;
    width: 30%;
    height: 25%;
    cursor: pointer;
    background: #4b3f72;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2rem;
}


/* .data-category {
    width: 30%;
    cursor: pointer;
    background: #4b3f72;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    border-radius: 10px;
    margin: 3% auto;
    margin-bottom: 5%;
    text-align: center;
    font-size: 1.2rem;
}

.icon {
    margin-top: 5%;
    font-size: 2rem;
}

.data-category:hover{
    background-color: #6495ED;
    border: 1px solid black;
}

.active {
    background-color: #6495ED;
    cursor: pointer;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    border-radius: 10px;
    margin: 3% auto;
    margin-bottom: 5%;
    text-align: center;
    font-size: 1.2rem;
}

.data-category-text {
    margin: 5% auto;
} */