/* Landing */

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    padding-top: 1.5%;
    font-size: 2.1rem;
    font-weight: 400;
    background-image: linear-gradient(to bottom right, #d7d6d6, #6e54c4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: black;
    font-family: 'Audiowide', sans-serif;
    text-decoration: underline;
}

.description {
    background-image: linear-gradient(to bottom right, #d7d6d6, #6e54c4);
    display: flex;
    flex-direction: column;
    margin: 1% auto;
    width: 60%;
    padding: 2%;
    padding-bottom: 0.5%;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 5px 10px 18px black;
}

.button-container {
    display: flex;
    flex-direction: column;
}

.description p {
    color: black;
    text-align: center;
    margin-bottom: 2%;
}

.description-video {
    width: 68%;
    margin: 1% auto;
    border: 1px solid black;
    border-radius: 5px;
}

.next {
    width: 10%;
    margin: 0 auto;
    margin-top: 5%;
    padding: 0.3%;
    background-color: #4b3f72;
    font-size: 1.2rem;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.step {
    color: black;
    margin: 1% auto;
    margin-top: 1%;
    font-size: 1.2rem;
}

/* Login */

.Login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 50%;
    margin: 1% auto;
    margin-bottom: 0%;
}

.Login h3 {
    margin: 1% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Login p {
    margin: 0% auto;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.8;
}

.login-info {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2%;
}

.fb-login-button {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 1% auto;
    margin-bottom: 0;
}

.download-button {
    width: 10%;
    margin: 1% auto;
    padding: 0.3%;
    background-color: #4b3f72;
    font-size: 1.2rem;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

/* Filedrop */

.file-drop {
    width: 100%;
    height: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.file-drop button {
    width: 10%;
    height: 9%;
    margin: 1% auto;
    background-color: #4b3f72;
    font-size: 1.2rem;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.file-drop h3 {
    margin: 1% auto;
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.file-drop p {
    margin: 0% auto;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.8;
}

.file-box {
    margin: 1% auto;
    height: 40%;
    width: 60%;
    border: 2px dashed black;
}

.icon-file-drop {
    display: flex;
    margin: 5% auto;
    margin-bottom: 1%;
    font-size: 3.5rem;
}

.ring-container {
    display: flex;
    justify-content: center;
}

.file-drop #faded {
    opacity: 0.7;
}

@media (max-height: 750px) {
    .file-drop {
        margin-top: 2%;
    }
    .file-drop button {
        height: 10%;
    }
}