body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  margin-right: 3%;
  width: 94%;
  height: 100%;
  font-family: Inconsolata, monospace;
  color: #d7d6d6;
}